
.icon-money:before { content: '\e800'; } /* '' */
.icon-dollar:before { content: '\e801'; } /* '' */
.icon-wallet:before { content: '\e802'; } /* '' */
.icon-money-1:before { content: '\e803'; } /* '' */
.icon-dollar-1:before { content: '\f155'; } /* '' */