<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/login.css'%}">
		<link rel="stylesheet" href="{% static 'dashboard/fontello/css/fontello.css'%}">
		<title>Log in</title>
		<meta name="viewport" content="width=device-width, initial-scale-1">
	</head>
	<body>
        <div class="container-fluid">
            <div class="flexbox-container " style="border: 1px solid #ABA43F;font-size: 34px; border-radius: 4px;color:rgb(45, 82, 15) ;padding: 10px; text-align: center;"> 
                    We apologize but an error occurred. Please try again or contact the administrator.
            </div>    
            <p class="text-center" style="margin-top:10px;">Go to the login page and  <a id="link_bar" href="{% url 'login' %}"> try again.</a></p>
            <p class="text-center" style="margin-top:10px;">Contact us by <a href = "mailto: abc@example.com">sending an email</a></p>
          </div>
	</body>
</html>