<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/login.css'%}">
		<link rel="stylesheet" href="{% static 'dashboard/fontello/css/fontello.css'%}">
		<title>Log in</title>
		<meta name="viewport" content="width=device-width, initial-scale-1">
	</head>
	<body>
        <div class="container-fluid">
            <div class="flexbox-container " style="border: 1px solid #ABA43F;font-size: 34px; border-radius: 4px;color:rgb(45, 82, 15) ;padding: 10px; text-align: center;"> 
            We have sent you a message with your activation link to your e-mail address. 
            </div>
          </div>
	</body>
</html>
