{% extends 'loginLayout.html' %}

{% block login %}
	{% if form.errors %}
	  <p class="text-center">Your username and password didn't match. Please try again.</p>

	{% endif %}

	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	  <div class="container main__cont">
	    <h2 class="form-heading">Log in to Home Budget</h2>
	    <div class="form-fields">
	      <table>
					{% for field in form %}
						<tr><td>{{ field.errors }}</td></tr>
						<tr><td>{{ field.label_tag }}</td><td>{{ field }}</td>
					{% endfor %}
					<tr>
						<td colspan="2"><button class="btn btn-lg btn-primary btn-block btn__style" style="margin-top: 15px" type="submit">Log in</button></td>
					</tr>
			 	</table>
	    </div>
	    <p class="text-center" style="margin-top:10px;">or <a id="link_bar" href="{% url 'register' %}">sign up</a></p>
	    <input type="hidden" name="next" value="{{ next }}" />
	    <p class="text-center"><a href="{% url 'resetpassword' %}">Lost password?</a></p>
	  </div>
	</form>
{% endblock %}
