{% extends "loginLayout.html" %}

{% block login %}
	{% if next %}
	  {% if user.is_authenticated %}
	    <p class="text-center">Your account doesn't have access to this page. To proceed,
	    please login with an account that has access.</p>
	  {% else %}
	    <p class="text-center">Please login to see this page.</p>
	  {% endif %}
	{% endif %}

	
	</div>

	<form method="post" action="{% url 'register' %}">
	{% csrf_token %}
	  <div class="container main__cont">
	    <h2 class="form-heading">Register in Home Budget</h2>
	    <div class="form-fields">
	      <form method="post" >
		 	{% csrf_token %}
			<table>
				{% for field in form %}
				{{field.errors}}
					<tr><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
				{% endfor %}
				 <tr>
					<td colspan="2"><button class="btn btn-lg btn-primary btn-block btn__style" style="margin-top: 15px" type="submit">Register</button></td>
				</tr>
		 	</table>
		 </form>
	    </div>

	    <p class="text-center" style="margin-top:10px;">Already registered? <a id="link_bar" href="{% url 'login' %}">Login here.</a></p>
	  </div>
	</form>
{% endblock %}
