body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: rgba(221, 217, 217, 0.959);
	color: rgb(45, 82, 15);
}

.main__cont {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-heading {
	margin-bottom: 20px;
	text-align: center;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-control:focus {
	z-index: 2;
}

label {
	margin-right: .5rem;
	margin-bottom: 0;
}

table {
	width: 100%;
	text-align: center;
}

.btn__style {
	background-color: rgb(45, 82, 15);
	color: white;
	border-color: rgb(45, 82, 15);
}

.btn__style:hover {
	background-color: green;
	color: white;
	border-color: rgb(45, 82, 15);
}

a {
	color: green;
}

a:hover {
	color:rgb(45, 82, 15);
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: rgb(45, 82, 15);
	outline: 0;
	box-shadow: 0 0 0 0.2rem green;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: rgb(45, 82, 15);
	border-color: rgb(45, 82, 15);
}

.btn-primary.focus, .btn-primary:focus {
	box-shadow: green;
	border-color: green;
}

.btn-primary.focus, .btn-primary:focus {
	box-shadow: 0 0 0 0.2rem green;
	border-color: rgb(45, 82, 15);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgb(45, 82, 15);
	border-color: rgb(45, 82, 15);
}
