*:focus {
	outline-color:#ABA43F;
}
.navColor {
	background-color:rgb(45, 82, 15);
}

.navMarginRigt {
	float: right!important;
}

.baseConteiner {
	background-color:white;
	height: 650px;
	margin-left:5%;
	margin-right:5%;
	margin-top:30px;
}


body {
	background-color: lightgray;
}

.secondLay {
	border: 1px solid #ABA43F;
	padding: 15px;
	background-color:white;
}


.dropdown-item.active, .dropdown-item:active{
	color:#ABA43F;
}
.addButton {
	float: right;
	font-size: 24px;
	font-weight: 500;
	padding: 10px;
	border: 1px solid #ABA43F;
	border-radius: 4px;
	border-top:0px;
	text-align: center;
}

.btn-primary {
	color: white;
	background-color:#ABA43F;
	border-color:rgb(45, 82, 15) ;
}

.btn-secondary {
	color: white;
	background-color:#ABA43F;
	border-color:rgb(45, 82, 15) ;
}

.btn-secondary:hover {
	color: white;
	background-color:rgb(45, 82, 15) ;
	border-color:rgb(45, 82, 15) ;
}

.btn-primary:hover {
	color: black;
	background-color: rgb(45, 82, 15);
	border-color: black ;
}


.dropdown-item:active{
	background-color:#ABA43F;
}
.thrash {
	background-color: white; 
	border: none; /* Remove borders */
	color: gray; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.thrash:hover {
	background-color: white;
}

.display__header {
	color:rgb(45, 82, 15) ;
	font-size: 24px;
	font-weight: 500;
	padding: 10px;
	border: 1px solid #ABA43F;
	border-radius: 4px;
	text-align: center;
}
.modal__body{
	color:rgb(45, 82, 15) ;
	font-size: 15px;
	font-weight: 500;
	padding: 10px;
}
.modal__header{
	color:rgb(45, 82, 15) ;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
	border: 1px solid #ABA43F;
	border-radius: 4px;
	text-align: left;
	
}
.display__container {
	padding:15px;
	width: 100%;
	height: 650px;
	overflow-y: auto;
	overflow-x: auto;
	background: white;
	border: 1px solid #ABA43F;
	border-radius: 4px;
}

.tab-content>.tab-pane {
	color:rgb(45, 82, 15);
}

.display__nav .nav-link.active {
	color: #ABA43F!important;
}

.list-group-item {
	color:rgb(45, 82, 15);
	border: 1px solid #ABA43F;
	border-radius: 4px;
}

th, td {
	color: rgb(45, 82, 15)
}

.display__balance {
	color:rgb(45, 82, 15);
	font-size: 16px;
	font-weight: 500;
	padding: 10px;
	border: 1px solid #ABA43F;
	border-radius: 4px;
	border-top:0px;
	text-align: right;
}

.more__statistic__btn {
	color:rgb(45, 82, 15) ;
	font-size: 16px;
	text-align: center;
	align-items: center;
}

.modal-header {
	color:white;
	background-color:rgb(45, 82, 15);
}

.modal-body {
	background-color:white;
	color:rgb(45, 82, 15);
}

.modal-footer {
	background-color:white;
	color:rgb(45, 82, 15);
}

.modal-body table {
	margin: 0 auto;
	text-align: center;
}

.modal-body table label {
	margin-right: .5rem;
}

.modal-body table input, select {
	width: 100%;
}
.item__color{
	color: rgb(45, 82, 15);
	
}
