

{% extends 'homeLayout.html' %}
<form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save changes</button>
      </form>                                                           

