<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale-1">
		
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/newstyle.css'%}">
		<link rel="stylesheet" href="{% static 'dashboard/fontello/css/fontello.css'%}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>MISERN Home Budget</title>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark navColor">
				<div class="container">
					<a class="navbar-brand" href="" > <i class="icon-money-1"></i></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="collapse">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item dropdown ">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
								<div class="dropdown-menu">
										{% block categoryNavbarList %}
										{% endblock %}
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Balances </a>
								<div class="dropdown-menu">
										{% block balanceList %}
										{% endblock %}
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" data-toggle="modal"  href="#settings">Settings</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="{% url 'logout' %}">Log out</a>
							</li>
						</ul>
					</div>	
				</div>
			</nav>
		</header>
		<main>
			<div class="row justify-content-center" style="max-width: 100vw;">
				<div class="container-fluid baseConteiner">
					<div class="row">
						<div class="col-md-3 secondLay" style="border-right: 0px">
							<h4 class="display__header">Categories</h4>
							<div class="container-fluid">
								<div class="display__container">
									{% block categoriesList %}
									{% endblock %}
									<div class="flexbox-container">
										<a><button  style="float:right; margin-top:15px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategory">Add category</button></a>
									</div>
									<div class="modal fade" id="addCategory">
										<div class="modal-dialog modal-lg modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Add new category</h4>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>
												<div class="modal-body">
													{% block categoryForm %}
													{% endblock %}
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 secondLay" style="border-right: 0px">
							 <div style= "text-align:left;">
                             <form method="get" style="margin-bottom:10px; display: flex; text-align:left;"  >
									<input type="text" placeholder="Search entries.." id="id_name" name="name">
									<button type="submit" id="id_name" style="text-align:right;"><i class="fa fa-search"></i></button>
							</form>
                            </div>
                         
                            <div class="container-fluid">
                                       
								<div class="row">
									
									<div class="display__container ">
											{%block entry_top_table%}		
											{% endblock %}
                    <div class="tab-content" id = "myTabContent">
                    	<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    		<table class="table table-striped">
                    			<thead>
                    				<tr>
                    					<th scope="col">Date</th>
                              <th scope="col">Name</th>
                              <th scope="col">Category</th>
                              <th scope="col">Amount</th>
															<th scope="col">Balance</th>
															<th scope="col"></tr>
                    			</thead>
                    			<tbody>
	                            {% block entriesList %}
	                            {% endblock %}
													</tbody>
                    		</table>
                    	</div>
                    </div>
									</div>
								</div>
							</div>
							<div class="display__balance">
								<div class="row">
									<div class="col-md-9"style="text-align:left; display: flex;" >Your total balance: {% block totalBalance %} {% endblock %} PLN </div>
                  <div class="col-md-3" style="text-align:right;"> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEntry">Add entry</button></div>
              	</div>
							</div>
							<div class="modal fade" id="addEntry">
								<div class="modal-dialog modal-lg modal-dialog-centered">
									<div class="modal-content">
										<!-- Modal Header -->
		                <div class="modal-header">
		                  <h4 class="modal-title">Add new Entry:</h4>

		                </div>
		                
		                <!-- Modal body -->
		                <div class="modal-body">
		                	{% block entryForm%}
	                    	{% endblock %}
		                </div>
		                
		                <!-- Modal footer -->
		                <div class="modal-footer">
		                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		                </div>
									</div>
								</div>
							</div>
									<!--EDIT BALANCE-->
									<div class="modal fade" id="editBalance" >
										<div class="modal-dialog modal-lg modal-dialog-centered">
											<div class="modal-content">
												<!-- Modal Header -->
												<div class="modal-header">
													<h4 class="modal-title">Manage balances:</h4>
												</div>
												
												<!-- Modal body -->
												<div class="modal-body">
													<div class="flexbox-container modal__header"> Add new balance:
														<div class=" modal__body">
															{% block balanceForm %}
															{% endblock %}
													 	</div>
												  </div>
													<div class="container-fluid modal__header"style="margin-top:15px;overflow-y: auto;"> Delete balance:
														<div class=" modal__body">
																<div class="tab-content" id="delateBalanceTab">
																		<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
																			<table class="table">
																				<thead>
																					<tr>
																						<th scope="col">Name</th>
																						<th scope="col">Amount</th>
																						<th scope="col"></th>
																					</tr>
																				</thead>
																				<tbody>
																						{% block balanceModalList %}
																						{% endblock %}
																				</tbody>
																			</table>
																		</div>
																 </div>
														</div>	
													</div>
												</div>
												<!-- Modal footer -->
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
										<!--Settings modal-->
										<div class="modal fade" id="settings" >
											<div class="modal-dialog modal-lg modal-dialog-centered">
												<div class="modal-content">
													<!-- Modal Header -->
													<div class="modal-header">
														<h4 class="modal-title">Settings:</h4>

													</div>
													
													<!-- Modal body -->
													<div class="modal-body">
														<div class="flexbox-container modal__header"> Change your password:
															<div class=" modal__body">
															  {% block changePassword %}
																{% endblock %}
															 </div>
														</div>
													</div>
													
													<!-- Modal footer -->
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>
						</div>
						<div class="col-md-3 secondLay">
							<div class="container">
							{% load static %}
    						{% static "" as baseUrl %}
    						<a href="dashboard/media/charts/{{ username }}_chart.png" title="Click for bigger chart" target="_blank"><img src="dashboard/media/charts/{{ username }}_chart.png" class="img-responsive" width="100%"/></a><br/>
								{% for instance in entry1 %}
									{% if instance.day_filter == 'all' %}
										Based on all entries.
									{% elif instance.day_filter == 'day3' %}
										Based on last three days.
									{% elif instance.day_filter == 'day7' %}
										Based on last seven days. 
									{% elif instance.day_filter == 'month' %}
										Based on last month.
									{% elif instance.day_filter == 'year' %}
										Based on last year.
									{% endif %}
								{% endfor %}
								<br/><br/>
								Most expensive category: {{ stats|get_item:"expensive_category"}}<br/>
								Lower outcom / highest income category: {{ stats|get_item:"cheap_category"}}<br/>
								Highest outcome: {{ stats|get_item:"highest_outcome"}} PLN<br/>
								Highest income: {{ stats|get_item:"highest_income"}} PLN<br/>
								Lowest outcome: {{ stats|get_item:"lowest_outcome"}} PLN<br/>
								Lowest income: {{ stats|get_item:"lowest_income"}} PLN<br/><br/>
								<a class="btn more__statistic__btn" style="width: 100%" href="{% url 'dashboard:generate-pdf' %}" role="button">Save as PDF</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
		</footer>
	</body>	
</html>
