{% extends 'homeLayout.html' %}
<!---------------------------------------------Categories Blocks-------------------------------------------------------------------->
{% block categoriesList %}
	{% if categories|length != 0 %}
		{% for instance in categories %}

			<ul class="list-group">
				<li class="list-group-item">
				
					<form action= "{% url 'dashboard:category-change' instance.pk %}" method="POST" style="display: inline" id="categoryList-{{ instance.pk }}">
						{% csrf_token %}
						{% if instance.active == True %}
						<input type="checkbox" checked onclick="document.forms['categoryList-{{ instance.pk }}'].submit();"> {{instance.name}}
						{% else %}
						<input type="checkbox" onclick="document.forms['categoryList-{{ instance.pk }}'].submit();"> {{instance.name}}
						{% endif %}
					</form>
					<button  data-toggle="modal" data-target="#modal-{{ instance.pk }}" class="btn thrash"><i class="fa fa-trash"></i></button>
				</li>
			</ul>
			<div class="modal" id="modal-{{ instance.pk  }}">
					<div class="modal-dialog modal-lg modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header"style="text-align: center;">
								<h4 class="modal-title">Are you sure you want to delete this category?</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body">
								<div class="container-fluid "style="margin-top:15px;overflow-y: auto; text-align: center;"> 
										This action will delete all entries associated with this category.
									<div class=" modal__body">
											
											<form action= "{% url 'dashboard:category-delete' instance.pk %}" method="POST" style="display: inline">
												{% csrf_token %}
												<button type="submit" class="btn btn-secondary">Yes</button>
											</form>
											
											<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			
		{% endfor %}		
	{% else %}
		<ul class="list-group">
				<li class="list-group-item">Nothing to display</li>
			</ul>
	{% endif %}
{% endblock %}

{% block categoryNavbarList %}
	{% if categories|length != 0 %}
		{% for instance in categories %}
		<form action= "{% url 'dashboard:category-changeall' instance.id %}" method="POST" style="display: inline" id = "categoryChangeAll">
			{% csrf_token %}
			<a class="dropdown-item" href="{% url 'dashboard:category-changeall' instance.pk %}">{{instance.name}}</a>
		</form>
		{% endfor %}
			<div class="dropdown-divider"></div>
			<button type="button" class="dropdown-item"  data-toggle="modal" data-target="#addCategory"> Add Category</button>
			<a class="dropdown-item" href="{% url 'dashboard:category-reset'%}">Reset category filters</a>
	{% else %}
        <button type="button" class="dropdown-item"  data-toggle="modal" data-target="#addCategory"> Add Category</button>
		<a class="dropdown-item" href="#">Nothing to display<a>
	{% endif %}
{% endblock %}

{% block categoryForm %}
	<form action='' method='post'>
		{% csrf_token %}
		<table>
			{% for field in form %}
				<tr><td>{{ field.errors }}</td></tr>
				<tr><td>{{ field.label_tag }}</td><td>{{ field }}</td>
			{% endfor %}
			 <tr>
				<td colspan="2"><input class="btn btn-sm btn-primary btn-block btn__style" type="submit" name="actionCat" value="Save" style="margin-top: 15px"/></td>
			</tr>
	 	</table>
	</form>
{% endblock %}
<!---------------------------------------------Entries Blocks-------------------------------------------------------------------->

{%block entry_top_table%}
	{%if entry1.count == 0%}
	<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-tabs" id="myTab" role="tablist">
						<li class="nav-item display__nav active">
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-resetAll'%}">All</a>
						</li>
						<li class="nav-item display__nav">
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-days3'%}">Last 3 days</a>
						</li>
						<li class="nav-item display__nav">
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-days7'%}">Last 7 days</a>
						</li>
						<li class="nav-item display__nav">
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-days30'%}">Last Month</a>
						</li>
						<li class="nav-item display__nav">
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-days365'%}">Last Year</a>
						</li>
			</ul>
		</nav>
	{%endif%}
	{% for instance in entry1 %}
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-tabs" id="myTab" role="tablist">
						<li class="nav-item display__nav">
							{%if instance.day_filter == 'all'%}
							<a class="dropdown-item item__color "style ="color:#ABA43F;" href="{% url 'dashboard:entry-resetAll'%}">All</a>
							{%else%}
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-resetAll'%}">All</a>
							{%endif%}
						</li>
						<li class="nav-item display__nav">
							{%if instance.day_filter == 'day3'%}
							<a class="dropdown-item item__color" style ="color:#ABA43F;" href="{% url 'dashboard:entry-days3'%}">Last 3 days</a>
							{%else%}
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-days3'%}">Last 3 days</a>
							{%endif%}
						</li>
						<li class="nav-item display__nav">
							{%if instance.day_filter == 'day7'%}
							<a class="dropdown-item item__color" style ="color:#ABA43F;" href="{% url 'dashboard:entry-days7'%}">Last 7 days</a>
							{%else%}
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-days7'%}">Last 7 days</a>
							{%endif%}
						</li>
						<li class="nav-item display__nav">
							{%if instance.day_filter == 'month'%}
							<a class="dropdown-item item__color" style ="color:#ABA43F;" href="{% url 'dashboard:entry-days30'%}">Last Month</a>
							{%else%}
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-days30'%}">Last Month</a>
							{%endif%}
						</li>
						<li class="nav-item display__nav">
							{%if instance.day_filter == 'year'%}
							<a class="dropdown-item item__color" style ="color:#ABA43F;" href="{% url 'dashboard:entry-days365'%}">Last Year</a>
							{%else%}
							<a class="dropdown-item item__color" href="{% url 'dashboard:entry-days365'%}">Last Year</a>
							{%endif%}
						</li>
			</ul>
		</nav>
	{%endfor %}
{%endblock%}
{% block entriesList %}
	{% if entries|length != 0 %}
		{% for instance in filter.qs %}
		<form action= "{% url 'dashboard:entry-delete' instance.pk %}" method="POST" style="display: inline">
			{% csrf_token %}
			<tr>
					<td>{{instance.date}}</td>
					<td>{{instance.name}}</td>
					<td>{{instance.category}}</td>
					<td>{{instance.amount}}</td>
					<td>{{instance.balance}}</td>
					<td style="text-align:center;"><a data-toggle="modal" href="#modalDelete-{{ instance.pk }}" class="btn thrash"><i class="fa fa-trash"></i></a></td>
			</tr>
		</form>
		<div class="modal" data-keyboard="false" data-backdrop ="static" id="modalDelete-{{ instance.pk }}" >
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header"style="text-align: center;">
						<h4 class="modal-title">Are you sure you want to delete this entry?</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>

					<div class="modal-body">
						<div class="container-fluid "style="margin-top:15px;overflow-y: auto; text-align: center;"> 
								This action can not be undone.
							<div class=" modal__body">
									<form action= "{% url 'dashboard:entry-delete' instance.pk %}" method="POST" style="display: inline">	
										{% csrf_token %}
										<button type="submit" class="btn btn-secondary">Yes</button>
									</form>
									
									<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	{% else %}
	<tr>	
			<td colspan="6">Nothing to display</td>
	</tr>
	{% endif %}
{% endblock %}

{% block entryForm %}
	<form  method='post'>
		{% csrf_token %}
		<table>
			<p>{{form2.name.label_tag}} {{form2.name}}</p>
			<p>{{form2.amount.label_tag}} {{form2.amount}}</p>
			<p>{{form2.type_choice}}</p>
			<p>{{form2.category.label_tag}} {{form2.category}}</p>
			<p>{{form2.balance.label_tag}} {{form2.balance}}</p>
			<p style ="margin-bottom:10px;">Date:</p>
			<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
				{{form2.errors}}
				{{ form2.date }}
				<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
				  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
				</div>
			  </div>
			  
			  <script>
				$(function () {
				  $("#datetimepicker1").datetimepicker({
					format: 'DD/MM/YYYY',
				  });
				});
			  </script>
			  
			 <tr>
				<td colspan="2"><input class="btn btn-sm btn-primary btn-block btn__style" type="submit" name="actionEntry" value="Save" style="margin-top: 15px"></td>
			</tr>
	 	</table>
	</form>
{% endblock %}
<!---------------------------------------------Balance Blocks-------------------------------------------------------------------->
{% block balanceForm %}
	<form action='' method='post'>
		{% csrf_token %}
		<table>
			{% for field in form3 %}
				<tr><td>{{ field.errors }}</td></tr>
				<tr><td>{{ field.label_tag }}</td><td>{{ field }}</td>
			{% endfor %}
			 <tr>
				<td colspan="2"><input class="btn btn-sm btn-primary btn-block btn__style" type="submit" name="actionBalance" value="Save" style="margin-top: 15px"/></td>
			</tr>
	 	</table>
	</form>
{% endblock %}

{% block balanceList %}
	{% if balance|length != 0 %}
		{% for instance in balance %}
		<form action= "{% url 'dashboard:balance-changeall' instance.pk %}" method="POST" style="display: inline">
			{% csrf_token %}
			<a class="dropdown-item" href="{% url 'dashboard:balance-changeall' instance.pk %}">{{instance.name}}</a>
		</form>
		
		{% endfor %}
		<div class="dropdown-divider"></div>
		<a data-toggle="modal" class="dropdown-item" href="#editBalance" >Manage Balances</a>
		<a class="dropdown-item" href="{% url 'dashboard:balance-reset' %}">Reset balance filters</a>
	{% else %}
		<a class="dropdown-item" href="#">Nothing to display<a>
		<div class="dropdown-divider"></div>
		<a data-toggle="modal" class="dropdown-item" href="#editBalance" >Manage Balances</a>
	{% endif %}
{% endblock %}

{% block balanceModalList%}
	{% if balance|length != 0 %}
		{% for instance in balance %}
		<form action= "{% url 'dashboard:balance-delete' instance.pk %}" method="POST" style="display: inline">
			{% csrf_token %}
			<tr>
				
				<td>{{instance.name}}</td>
				<td>{{instance.amount}}</td>
				<td><a data-toggle="modal" href="#modalBalance-{{ instance.pk }}" class="btn thrash"><i class="fa fa-trash"></i></a></td>
			
	   		</tr>
		</form>
		<div class="modal" data-keyboard="false" data-backdrop ="static" id="modalBalance-{{ instance.pk }}" >
				<div class="modal-dialog modal-lg modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header"style="text-align: center;">
							<h4 class="modal-title">Are you sure you want to delete this balance?</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>

						<div class="modal-body">
							<div class="container-fluid "style="margin-top:15px;overflow-y: auto; text-align: center;"> 
									This action will delete all entries associated with this balance.
								<div class=" modal__body">
										<form action= "{% url 'dashboard:balance-delete' instance.pk %}" method="POST" style="display: inline">
											{% csrf_token %}
											<button type="submit" class="btn btn-secondary">Yes</button>
										</form>
										
										<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<a class="dropdown-item" href="#">Nothing to display<a>
	{% endif %}
{% endblock %}

{% block totalBalance %}
	{{ total.amount__sum }}
{% endblock %} 


{% block changePassword %}
<div class="form-fields">
		<form method="post" >
		   {% csrf_token %}
		  <table>
			  {% for field in form4 %}
			  <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td>
			  {%endfor%}
			   <tr>
				  <td colspan="2"><input class="btn btn-lg btn-primary btn-block btn__style" type="submit" name="actionchangepassword" value="Save" style="margin-top: 15px"/></td>
			  </tr>
		   </table>
	   </form>
	  </div>                                                        
 {% endblock %}
