<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/login.css'%}">
		<link rel="stylesheet" href="{% static 'dashboard/fontello/css/fontello.css'%}">
		<title>Log in</title>
		<meta name="viewport" content="width=device-width, initial-scale-1">
	</head>
	<body>
		{%block login%}{%endblock%}
		{%block logout%}{%endblock%}
	</body>
</html>
